.image-container-search {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}
.IconSearch {
    position: absolute;
    /* width: 50%; */
    /* margin: 0 auto; */
    left: 25px;
    top: 15px;
    z-index: 1;
    grid-area: search;
}

.image-container-chat {
    /* border: 1px solid lightcoral; */
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}
.IconChat {
    /* border: 1px solid yellow; */
    position: absolute;
    /* margin: 0 auto; */
    max-width: 50%;
    /* left: 25px; */
    /* top: 15px; */
    z-index: 1;
    /* grid-area: chat; */
}

.image-container-schedule {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}
.IconSchedule {
    position: absolute;
    /* width: 50%; */
    /* margin: 0 auto; */
    left: 25px;
    top: 15px;
    z-index: 1;
    grid-area: schedule;
}

.image-container-menu {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}
.IconMenu {
    position: absolute;
    /* width: 50%; */
    /* margin: 0 auto; */
    left: 25px;
    top: 15px;
    z-index: 1;
    grid-area: menu;
}



/* img {
    border: 1px solid lightgreen;
    height: 50px;
    width: 70px;
    padding: 4px 5px;
} */